<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        {% for pokemon in pokemons_list %}
        <li>{{pokemon.french_name}} || {{pokemon.id}}</li>
        <a href="{% url 'pokemon' pokemon.id %}">
            <img src="{{pokemon.image}}">
        </a>

        {% endfor %}
    </ul>
    <a href="?offset={{ prev_offset }}&limit={{ limit }}">
        <button>Précédent</button>
    </a>
    <a href="?offset={{ next_offset }}&limit={{ limit }}">
        <button>Suivant</button>
    </a>
</body>
</html>